<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Lick my balls</string>
		<key>image</key>
		<string>rick</string>
		<key>sound</key>
		<string>lick my balls</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wubba lubba dub dub</string>
		<key>image</key>
		<string>rick</string>
		<key>sound</key>
		<string>wubba lubba dub dub</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mr Meeseeks</string>
		<key>image</key>
		<string>mr meeseeks</string>
		<key>sound</key>
		<string>mr meeseeks</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tiny Rick</string>
		<key>image</key>
		<string>tiny rick</string>
		<key>sound</key>
		<string>tiny rick</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lick my balls2</string>
		<key>image</key>
		<string>rick</string>
		<key>sound</key>
		<string>lick my balls</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wubba lubba dub dub2</string>
		<key>image</key>
		<string>rick</string>
		<key>sound</key>
		<string>wubba lubba dub dub</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mr meeseeks2</string>
		<key>image</key>
		<string>mr meeseeks</string>
		<key>sound</key>
		<string>mr meeseeks</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tiny Rick2</string>
		<key>image</key>
		<string>tiny rick</string>
		<key>sound</key>
		<string>tiny rick</string>
	</dict>
</array>
</plist>
